<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>菜单管理</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/config.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/jquery.pagination.css" rel="stylesheet">
    <!-- 表单验证 -->
    <link href="/css/bootstrapValidator.css" rel="stylesheet">

    <script>
        function getHall(){
            $.ajax({
                type: "GET",
                url: "/hall",
                data:{cinemaname:$("#cinema").val()},
                dataType: "json",
                success: function(res) {
                    /*一级二级联动下拉菜单*/
                    //console.log(res);
                    var data = res.obj;
                    //console.dir(res);
                    //console.dir(data);
                    $("#hallId").empty();//清空下拉框原有的数据
                    for(var key in data) {
                        //console.log(data[i].id + "===" + data[i].options[0].name)
                        $("#hallId").append("<option value='" + data[key].hallId + "'>" + data[key].hallName + "</option>");//动态添加数据
                    }
                    /*$("#province").change(function() {
                        var now_province = $(this).val();
                        $("#city").html('<option value="">选择二级分类</option>');
                        for(var k in data[now_province].options) {
                            var now_city = data[now_province].options[k];
                            $("#city").append('<option value="' + k + '">' + now_city.name + '</option>');
                        }
                    });*/
                }
            });
        }
    </script>
</head>

<body>
    <!-- nav导航 -->
    <div th:replace="bar::#topBar"></div>
    <!-- 页面主体 -->
    <div class="dh mainbox">
        <!-- 左边菜单 -->
        <div th:replace="bar::#menuBar"></div>
        <!-- 右边主显示部分 -->
        <div class="main-rightbox">
            <div class="mainrightbox">
                <!-- 路径导航 -->
                <ol class="breadcrumb">
                    <li><a href="index.html">首页</a></li>
                    <li class="active">基础管理</li>
                    <li class="active">菜单管理</li>
                    <li class="active">增加编辑</li>
                </ol>
                <!-- 网页主体内容部分 -->
                <div class="main_box ioep">
                    <!-- 页面单排显示 -->
                    <!-- <div class="modal-conbox">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label for="firstname" class="col-sm-3 control-label">用户角色</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                                        <option>管理员</option>
                                        <option>超级管理员</option>
                                        <option>普通用户</option>
                                        <option>开发者</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 control-label">用户名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastname" placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 control-label">邮箱</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastname" placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 control-label">密码</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastname" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 control-label">确认</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastname" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-2">
                                    <button type="submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <!-- 页面双排显示 -->
                    <div class="rows">
                        <div class="col-md-10 col-md-offset-1">
                            <form role="form" class="form-horizontal rows" id="form-test" th:action="@{/schedulesadd}" method="post">
                                <div class="form-group col-md-6">
                                    <label class="col-sm-5 control-label">影院</label>
                                    <div class="col-sm-7">
                                        <select onchange="getHall()" class="form-control" id="cinema" name="cinemaId">
                                            <option></option>
                                            <option th:each="i:${cinemas}" th:value="${i.cinemaId }" th:text="${i.cinemaName }"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-sm-5 control-label">影厅</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" id="hallId" name="hallId" required="required">
                                            <!--<option th:each="i:${hall}" th:value="${i.hallId }" th:text="${i.hallName }"></option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="col-sm-5 control-label">电影</label>
                                    <div class="col-sm-7">
                                        <select class="form-control" name="movieId">
                                            <option th:each="i:${movies}" th:value="${i.movieId }" th:text="${i.movieCnName }"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="showDay" class="col-sm-5 control-label">放映日期</label>
                                    <div class="col-sm-7">
                                        <input type="date" class="form-control" id="showDay" name="showDay" placeholder="放映日期" required="required"/>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="showTime" class="col-sm-5 control-label">放映时间</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="showTime" name="showTime" placeholder="00:00 - 00:00"  required="required"/>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="filmLanguage" class="col-sm-5 control-label">语言类型</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="filmLanguage" name="filmLanguage" placeholder="国语/外语"  required="required"/>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="price" class="col-sm-5 control-label">价格</label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="price" name="price" placeholder="价格"  required="required"/>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-sm-offset-5 col-sm-2">
                                        <button id="btn-test" type="submit" class="btn btn-primary">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- 引入公共js文件 -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/jquery.pagination.min.js"></script>
    <!-- 表单验证 -->
    <script src="js/bootstrapValidator.js"></script>

    <script>
        /**
         *  此方法为切换左边菜单的js文件
         */
        $(".list_dt").on("click", function() {
            $('.list_dd').stop();
            $(this).siblings("dt").removeAttr("id");
            if ($(this).attr("id") == "open") {
                $(this).removeAttr("id").siblings("dd").slideUp();
            } else {
                $(this).attr("id", "open").next().slideDown().siblings("dd").slideUp();
            }
        });

        /**
         * 表单验证
         */
        /* $(function() {
            $("#form-test").bootstrapValidator({
                live: 'enabled', //验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证  
                excluded: [':disabled', ':hidden', ':not(:visible)'], //排除无需验证的控件，比如被禁用的或者被隐藏的  
                submitButtons: '#btn-test', //指定提交按钮，如果验证失败则变成disabled，但我没试成功，反而加了这句话非submit按钮也会提交到action指定页面  
                message: '通用的验证失败消息', //好像从来没出现过  
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    role: {
                        validators: {
                            notEmpty: {
                                message: '请选择用户角色'
                            }
                        }
                    },
                    text: {
                        validators: {
                            notEmpty: { //检测非空,radio也可用  
                                message: '文本框必须输入'
                            },
                            stringLength: { //检测长度  
                                min: 6,
                                max: 30,
                                message: '长度必须在6-30之间'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: '邮箱不能为空！'
                            },
                            emailAddress: {
                                message: '请输入正确的邮箱地址'
                            }
                        }

                    },
                    pwd: {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空！'
                            },
                            identical: {
                                field: 'pwdd',
                                message: '请输入确认密码'
                            }
                        }
                    },
                    pwdd: {
                        validators: {
                            notEmpty: {
                                message: '密码不能为空！'
                            },
                            identical: {
                                field: 'pwd',
                                message: '与密码输入不相同，请重新输入'
                            }
                        }
                    },
                }
            });
            $("#btn-test").click(function() { //非submit按钮点击后进行验证，如果是submit则无需此句直接验证  
                $("#form-test").bootstrapValidator('validate'); //提交验证  
                if ($("#form-test").data('bootstrapValidator').isValid()) { //获取验证结果，如果成功，执行下面代码  
                    alert("yes"); //验证成功后的操作，如ajax  
                }
            });
        }); */
    </script>
</body>

</html>