<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>菜单管理</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <link th:href="@{/css/config.css}" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/jquery.pagination.css}" rel="stylesheet">
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script type="text/javascript">
		function del(){
	 		if(confirm("你确定要删除此数据吗?")){
	 			return true;
	 		}else{
	 			return false;
	 		}
	 	}
    </script>
    <style type="text/css">
    	a{
    		color:white;
    	}
    </style>
</head>

<body>
    <!-- nav导航 -->
    <div th:replace="bar::#topBar"></div>
    <!-- 页面主体 -->
    <div class="dh mainbox">
        <!-- 左边菜单 -->
        <div th:replace="bar::#menuBar"></div>
        <!-- 右边主显示部分 -->
        <div class="main-rightbox">
            <div class="mainrightbox">
                <!-- 路径导航 -->
                <ol class="breadcrumb">
                    <li><a href="index.html">首页</a></li>
                    <li class="active">基础管理</li>
                    <li class="active">菜单管理</li>
                </ol>
                <!-- 显示表格 -->
                <div class="main_box">
                    <!-- 顶部搜索添加框 -->
                    <div class="row">
                        <!-- 搜索框 -->
                        <div class="col-lg-2 col-md-4">
	                        <form th:action="@{/cinemalist/1}" method="get">
	                            <div class="input-group">
                                    <input type="text" name="likename" th:value="${likename}" class="form-control" placeholder="影院名称">
	                                <input type="text" name="cinemalikename" th:value="${cinemalikename}" class="form-control" placeholder="影院所在区">
	                                <span class="input-group-btn">
	                                  <button class="btn btn-default" type="submit">搜索</button>
	                            	</span>
	                            </div>
	                        </form>
                        </div>
                        <div class="col-li-2 col-md-4">
                            <a th:href="@{/tocinemaadd }"><button type="button" class="btn btn-primary adduser">添加</button></a>
                        </div>
                    </div>
                    <!-- 表格显示区域 -->
                    <div class="maintab">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <!--<th><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>-->
                                    <th>影院编号</th>
                                    <th class="">影院名称</th>
                                    <th class="">影院所在区</th>
                                    <th class="">影院地址</th>
                                    <th class="">影院类型</th>
                                    <th class="">影院电话</th>
                                    <!--<th class="">影院图片</th>-->
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" th:each="i:${lists}">
                                    <!--<td><input type="checkbox" class="checkboxes" value="1" /></td>-->
                                    <td th:text="${i.cinemaId }"></td>
						            <td th:text="${i.cinemaName }"></td>
						            <td th:text="${i.cinemaArea }"></td>
						            <td th:text="${i.cinemaAddress }"></td>
						            <td th:text="${i.cinemaType }"></td>
						            <td th:text="${i.phone }"></td>
						            <!--<td><img style="height: 120px;" th:src="${i.cinemaImage}"></td>-->
                                    <td>
                                        <span class="label label-success cp editmsg">
                                        	<a th:href="@{/cinematoupdate/{cinemaId}/{currPage}(cinemaId=${i.cinemaId },currPage=${currPage})} ">修改</a>
                                        </span>
                                        <!--<span class="label label-success cp deletelist deletebgc">
                                        	<a th:href="'/cinemadelete/'+${i.cinemaId }+'/'+${currPage}" th:onclick="return del()">删除</a>
                                        </span>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 分页 -->
                    <div class="text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a th:href="@{/cinemalist/1(likename=${likename},cinemalikename=${cinemalikename})}">首页</a>
                                </li>
                                <li><a th:href="@{/cinemalist/{currPage}(currPage=${currPage - 1},likename=${likename},cinemalikename=${cinemalikename})}">上一页</a></li>
                                <li><a th:if="${currPage < totalPage}" th:href="@{/cinemalist/{currPage}(currPage=${currPage + 1},likename=${likename},cinemalikename=${cinemalikename})}">下一页</a></li>
                                <li>
                                    <a th:if="${currPage < totalPage}" th:href="@{/cinemalist/{currPage}(currPage=${totalPage},likename=${likename},cinemalikename=${cinemalikename})}">尾页</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- 分页 -->
                        <!-- <div id="pagination3" class="page fl"></div> -->
                        <!-- 暂时放在这，后期去掉 -->
                        <div class="box">
                            <div id="pagination3" class="page fl"></div>
                            <div class="info fl">
                                <p>当前页数：<span id="current3" th:text="${currPage}"></span></p>
                            </div>
                            <!-- <button id="getPage">getPage</button>
                            <button id="setPage">setPage</button> -->
                        </div>
                    </div>
                </div>
                <!-- 模态框 -->
                <!--<div class="modal-bg  dp-n">
                    <div class="modal-conbox">
                        <div class="modal-t">
                            <span class="control-label modaltitle">添加用户</span>
                            <img class="modalback closemodal" src="/images/close.png" alt="">
                        </div>
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">用户角色</label>
                                <div class="col-sm-9">
                                    <select class="form-control">
                                        <option>管理员</option>
                                        <option>超级管理员</option>
                                        <option>普通用户</option>
                                        <option>开发者</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 control-label">用户名</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastname" placeholder="请输入用户名">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 control-label">邮箱</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastname" placeholder="请输入邮箱">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 control-label">密码</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastname" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-3 control-label">确认</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="lastname" placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-2">
                                    <button type="submit" class="btn btn-default">提交</button>
                                </div>
                            </div>
                        </form>
                        &lt;!&ndash; 删除 &ndash;&gt;
                        <div class="modaldet dp-n">
                            <div>
                                <p class="lead" style="font-size:16px;">确定要删除吗？</p>
                            </div>
                            <div class="text-right">
                                <button type="button" class="btn btn-primary">确定</button>
                                <button type="button" class="btn btn-primary">取消</button>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    </div>
    <!-- 引入公共js文件 -->
    <script src="/js/jquery.slimscroll.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <!-- <script src="/js/modal.js"></script> -->
    <script src="/js/jquery.pagination.min.js"></script>

    <script>
        /**
         *  此方法为切换左边菜单的js文件
         */
        $(".list_dt").on("click", function() {
            $('.list_dd').stop();
            $(this).siblings("dt").removeAttr("id");
            if ($(this).attr("id") == "open") {
                $(this).removeAttr("id").siblings("dd").slideUp();
            } else {
                $(this).attr("id", "open").next().slideDown().siblings("dd").slideUp();
            }
        });

        /**
         * 此方法为分页插件提供方法 
         * 分页功能
         * 参考文档  http://www.jq22.com/jquery-info15113
         */
        /* $(function() {
            $("#pagination3").pagination({
                currentPage: ${currPage},
                totalPage: ${totalPage},
                isShow: true,
                count: 7,
                homePageText: "首页",
                endPageText: "尾页",
                prevPageText: "上一页",
                nextPageText: "下一页",
                callback: function(${totalPage}) {
                    
                     /* 回调函数，请求数据 
                     current为页面数 
                     
                    $("#current3").text(${totalPage});
                    alert("请求数据" + ${totalPage});
                }
            });

            $("#getPage").on("click", function() {
                var info = $("#pagination3").pagination("getPage");
                alert("当前页数：" + info.current + ",总页数：" + info.total);
            });

            $("#setPage").on("click", function() {
                $("#pagination3").pagination("setPage", 1, 10);
            });
        });  */

    </script>
</body>

</html>